/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@keyframes bounce { 0%,100% { transform: translateY(0); } 50% { transform: translateY(-30px); } }
@keyframes fade { to { opacity: 0; transform: scale(2); } }